.container
  .panel.panel-default
    .panel-heading
      %h1.panel-title Edit content
    .panel-body
      .row
        .col-lg-offset-1.col-lg-10
          = render 'form'

  = render :partial => 'components/back_dash_edit', :locals => { model: 'content', instance: @content, edit_page: true }
