.container
  .panel.panel-default
    .panel-heading
      %h1.panel-title Edit standard change
    .panel-body
      .row
        .col-lg-offset-1.col-lg-10
          = render 'form'

  .btn-group
    = link_to 'Show', @standard_change, :type => 'button', :class => 'btn btn-default'
    = link_to '<span class="glyphicon glyphicon-circle-arrow-left"></span> Back'.html_safe, standard_changes_path, :type => 'button', :class => 'btn btn-default'
