.container
  .panel.panel-default
    .panel-heading
      %h1.panel-title Edit standard change
    .panel-body
      .row
        .col-lg-offset-1.col-lg-10
          = render 'form'

  = render :partial => 'components/back_dash_edit', :locals => { model: 'standard_change', instance: @standard_change, edit_page: true }
