.container
  %h1 New standard change

  = render 'form'


  .btn-group        
    = link_to raw('<span class="glyphicon glyphicon-circle-arrow-left"></span> Back to List'), standard_changes_path, :type => 'button', :class => 'btn btn-default'
