%div{ :class => members_waiting.blank? ? "panel panel-default" : "panel panel-warning" }
  .panel-heading
    %h3.panel-title 
      Members Awaiting Approval
  .panel-body
    %table.table-condensed#users
      %thead
        %tr
          %th Approve
          %th Name
          %th Email
          %th Company
      %tbody
        - members_waiting.each do |user|
          %tr
            %td.text-center
              = render :partial => 'components/user_status', :locals => { :user => user }
            %td= user.name
            %td= user.email
            %td= user.company_or_org
