= form_for @user, :html => { :multipart => true }, :role => "form", :class => "form-horizontal" do |f|
  if @user.errors.any?
    .alert.alert-danger
      %h2 "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.ech do |msg|
        %li= msg
  .form_group
    f.label :email
    f.text_field :email, :class => "form-control"
  
  .form_group
    f.label :password
    f.password_field, :class => "form-control"
    
  .form_group
    f.label :name
    f.text_field, :class => "form-control"
    
  .form_group
    f.label :avatar
    f.file :avatar
      