%h4 Directors' Meetings
- if @dir_minutes.blank?
  %p No minutes are available
- else    
  %ul.list-group.no-borders
    - @dir_minutes.each do |m|
      %li.list-group-item.no-borders
        = link_to "Minutes of #{m.date.strftime('%b %Y')}", minute_path(m)
    %li.list-group-item.no-borders
      =link_to "All meetings...", minutes_path
