.panel.panel-info
  .panel-heading
    %h3.panel-title Info
  .panel-body
    - if !@info_for_implementers.nil?
      = raw(@info_for_implementers.content)
    - else
      %p.text-danger Please create content with a key of 'info_for_implementers'