.jumbotron
  %h1 
    Welcome to
    %br The Open Effects Association
  %p The Open Effects Association provides a technical standard for connecting visual effects plug-ins to editing and compositing hosts that implement the OFX standard.
 