The following users are waiting to be approved:
\
- @waiting_users.each do |u|
  #{u.email}  |  #{u.name}  |  #{u.company_or_org}
\
Please approve them at http://#{Rails.configuration.action_mailer.default_url_options[:host]}