Dear #{@user.name}:
 
A new account has been created for you at http://openeffects.org

Username: #{@user.email}
Password: #{Rails.configuration.ofx[:default_password]}
  
Please change your password immediately when you log in.

Welcome to OFX; we look forward to your participation.


Best regards,
The OFX team