#{@name} has commented on the this OFX standard change:
\
#{@title} (v. #{@version})
\
View: #{@url}
\
\
You are receiving this message because you have agreed to receive notifications from OFX.
If you wish to change this, please go to http://openeffects.org, log in, and change your notifications status.
\
...........................
The Open Effects Assocation
http://openeffects.org
