.container
  .panel.panel-default
    .panel-heading
      %h1.panel-title Edit news item
    .panel-body
      .row
        .col-lg-offset-1.col-lg-10
          = render 'form'

  = render :partial => 'components/back_dash_edit', :locals => { model: 'news_item', instance: @news_item, edit_page: true }
