.container
  %h1 News Items
  - if @news_items.blank?
    %p There are no news items.
  - else
    %table.table
      %thead
        %tr
          %th 
          %th Headline
          %th Date
          - if user_signed_in? and current_user.has_role? :admin
            %th{ :colspan => 3 }
      %tbody
        - @news_items.each do |news_item|
          %tr
            %td
              - if news_item.published?
                %button.published.btn.btn-xs.btn-success Unpublish
              - else
                %button.unpublished.btn.btn-xs.btn-primary Publish
            %td= news_item.headline
            %td= news_item.date
            %td= render :partial => 'components/show_edit_delete', :locals => { :model => 'news_item', :instance => news_item }

  .btn.btn-default
    = link_to 'New Item', new_news_item_path, :type => 'button'