deploy_dir: /var/www/openeffects.org
support_docs:
  docs:
    - api_doc
    - reference
    - guide
  repo: 
    development: /Volumes/Delahaye/tim/Development/git-repos/openfx
    production: /home/ec2-user/openfx_files
meeting_type:
  agm: Association General Meeting
  dirm: Directors' Meeting
version_status:
  approved: Approved
  pending:  Pending
standard_change_type:
  major: Major
  minor: Minor
  other: Other
standard_change_status:
  approved:   Approved
  proposed:   Proposed
  withdrawn:  Withdrawn
  deprecated: Deprecated
sanitizer:
  attributes:
    all:
      - class
    a:
      - title
      - target
      - href
      - type
recaptcha:
  public_key:   6LedYO8SAAAAAPho35-jU-DHbGAPeNJVZpcsYAgi 
  private_key:  6LedYO8SAAAAAJOIj8RKirQWUOc5LF_F8jnYeei- 

migration:
  base_url: http://openeffects.org
  index:
    minutes:   /dokuwiki/doku.php?id=company:minutes
    standards: /dokuwiki/doku.php?id=standards:draft:ofx_image_processing_api_2

mailer:
  development:
    delivery_method: :smtp
    settings:
      :address:        smtp.gmail.com
      :domain:         localhost
      :port:           587
      :user_name:      <username@gmail.com>
      :password:       <gmail-password>
      :authentication: :plain
  production:
    delivery_method: :smtp
    settings:
      :address:               <amazon ses address here>
      :user_name:             <amazon smtp username>
      :password:              <amazon smpt password>
      :authentication:        :login
      :enable_starttls_auto:  true
      