.container
  .panel.panel-default
    .panel-heading
      %h1.panel-title Edit company
    .panel-body
      .row
        .col-lg-offset-1.col-lg-10
          = render 'form'

  = render :partial => 'components/back_dash_edit', :locals => { model: 'company', instance: @company, edit_page: true }
