.container
  .panel.panel-default
    .panel-heading
      %h1.panel-title Edit minutes
    .panel-body
      .row
        .col-lg-offset-1.col-lg-10
          = render 'form'

  .btn-group
    = link_to 'Show', @minute, :type => 'button', :class => 'btn btn-default'
    = link_to raw('<span class="glyphicon glyphicon-circle-arrow-left"></span> Back to Dashboard'), admin_dashboard_path, :type => 'button', :class => 'btn btn-default'
