.container
  %h1 New version

  = render 'form'
    
  .btn-group
    = link_to raw('<span class="glyphicon glyphicon-circle-arrow-left"></span> Back to Dashboard'), "#{admin_dashboard_path}#versions", :type => 'button', :class => 'btn btn-default'
