.container
  %h1 Home Heroes

    %table
      %tr
        %th Hero image

      - @home_heros.each do |home_hero|
        %tr
          %td= home_hero.hero_image
          %td= render :partial => 'components/show_edit_delete', :locals => { :model => 'home_hero', :instance => home_hero }

    %br

    = link_to 'New Home hero', new_home_hero_path, :class => 'btn btn-default'
