/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
//---- FONTS ----
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal) {
  @font-face {
    font-family: "#{$font-family}";
    src: font-url("#{$font-filename}.eot");
    src: font-url("#{$font-filename}.eot?#iefix") format("embedded-opentype"),
         font-url("#{$font-filename}.woff") format("woff"),
         font-url("#{$font-filename}.ttf") format("truetype"),
         font-url("#{$font-filename}.svg##{$font-family}") format("svg");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

 @include declare-font-face('persan','persans-webfont');
 @include declare-font-face('persan','persansb-webfont', bold);
 @include declare-font-face('persan','persansi-webfont', normal, italic);
 
/*
 * @include declare-font-face('quicksand','quicksand-regular-webfont');
 * @include declare-font-face('quicksand','quicksand-bold-webfont', bold);
 * @include declare-font-face('quicksand','quicksand-italic-webfont', normal, italic);
*/

@import 'bootstrap';
