// Place all the styles related to the NewsItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.headline {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 20px;
}