// Place all the styles related to the StandardChanges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sc-key {
  display: inline-block;
  padding: 3px 7px;
  border-radius: 4px;
}
.comment .mce-edit-focus {
  background-color: white;
  padding: 5px;
}
.glyphicon-trash {
  cursor: pointer;
}
.well.confirmed {
  background-color: #eeffee;
}
.well.deleted {
  background-color: #cceee;
}