$primary-color: #a9deeb;
$primary-color-grad: #f3f3ff;
$secondary-color: #79c7eb;
$tertiary-color: #003b6d;

html, body {
  height: 100%;
}
body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
footer {
  background-color: #333;
  color: white;
  padding: 17px 0 18px;
  border-top: 1px solid #99F;
  text-align: center;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
}
.push {
  height: 63px;
}
.wrapper > .container {
  padding-top: 20px;
}
.user-status {
  color: white;
  margin-top: 8px;
  input {
    width: 5%;
  }
}
.checkbox {
  padding-top: 5px;
  padding-bottom: 5px;
}
.datepicker tbody td.day {
  cursor: 'pointer';
}
.admin.btn-group {
  padding-bottom: 10px;
}
.logo {
  position: absolute;
  right: 40px;
  top: 67px;
  z-index: 1000;
}
.welcome {
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: solid 1px #666;
  &#jumbotron {
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: image-url('bg_lensflare.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .jumbotron {
      position: relative;
      background-color: rgba(255,255,255, 0.6);
      h1 {
        color: #c3c;
        text-shadow: 3px 3px 7px #006;
      }
    }
  }
  &#welcome {
    background-color: #563D7C;
    background-image: linear-gradient(to bottom, #563D7C 0px, #6F5499 100%);
    color: white;
  }
  &#panels {
    background-repeat: none;
    background-size: cover;
  }
  &#standard {
    background-color: $primary-color;
    background-image: linear-gradient(to bottom, $primary-color 0px, $primary-color-grad 100%);
  }
  &#organization {
    background-color: #eee;
    background-image: linear-gradient(to bottom, #ccc 0px, #eee 100%);
  }
}
.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}
.no-borders {
  border: none;
}
dd {
  margin-bottom: 15px;
}
