html, body {
  height: 100%;
}
body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
footer {
  background-color: #333;
  color: white;
  padding: 17px 0 18px;
  border-top: 1px solid #99F;
  text-align: center;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
}
.push {
  height: 63px;
}
.wrapper > .container {
  padding-top: 20px;
}
.user-status {
  color: white;
  margin-top: 8px;
  input {
    width: 5%;
  }
}
